
/* text and font specs */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
h1,
span,
#connect > h3 {
    display: none;
}
nav a, nav span,
menu li, #social li,
.menu li, footer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
h1 {
    font-size: 40px;
    display: none;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
h4 {
    width: 100px;
}
p, dd, li,
nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
  }
dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    float: left;
    padding-right: 0;
    margin: 0;
    text-align:center;
}
dd {
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
    text-align: left;
}
li {
    list-style: none;
}
ol li {
    list-style: decimal;
    padding-bottom: 10px;
}
#ingredients li {
    list-style: square;
}
/*end*/
html {
    background-color: rgba(122,191,191, .5);
    margin: auto;
}
body {
    background-color: #f2f2f2;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
#sides {
    background-color: #7abfbf;
}
a:link {
    text-decoration: none;
}
a {
    color: #eb5428;
    transition: color .5s ease-in-out;
}
a:hover {
    color: black;
    transform: translateY(-5px);
    transition: .5s ease-in-out;
}
.user-sign {
    color: black;
    transition: color .5s ease-in-out;
}
.user-sign:hover {
    color: #eb5428;
}
.user-sign svg:hover {
    stroke: black;
}
svg:hover {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
}
h2 {
    vertical-align:center;
    text-align: center;
}
.nav-top {
    margin: auto;
    background-color: #ffffff;
    padding: 0;
}
.nav-top h3 {
    display: none;
}
.menu {
    position: absolute;
    top: 0;
    display: flex;
    width: 768px;
    padding-left: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}
.menu > li {
    margin: 0 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    color: #eb5428;
}
.menu li img {
    width: 50px;
}
.empty {
    padding: 20px;
}
.menu-button-box {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-button {
    position: absolute;
    left: 0;
    padding-top: 5px;
}
.home {
    background-color: #eb5428;
    width:80px;
    color: #eb5428;
}
.home svg {
    padding-top: 10px;
}
#click-menu {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    position: absolute;
    top: 0;
    margin-left: 20px;
    height: 20px;
    width: 30px;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
button {
    background-color: #eb5428;
    border: 1px solid #eb5428;
}
input {
    border: 2px solid #eb5428;
    height: 32.5px;
}
input::placeholder {
    font-size: 12px;
}
p, dl, ol {
    padding: 0 10px;
}
ul {
    padding-left: 25px;
}
ul > li {
    line-height: 2;
}
menu img {
    height: 100px;
    width: 100px;
}
#tacos, footer img {
    width: 100%;
}
header {
    margin-top: 100px;
}
.rating {
    font-weight: bold;
}

footer small:last-of-type {
    padding-top: 10px;
}
@media (max-width: 768px) {
    h1 {
        display: none;
    }
    .menu-button-box {
        display: flex;
        position: fixed;
        top: 0;
        background-color: #eb5428;
        height: 80px;
        width: 414px;
    }
    .menu {
        position: fixed;
        top: 0;
        margin-top: 50px;
        flex-direction: column;
        width: 414px;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
    #click-menu ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height .5s ease-in-out;
    }
    #click-menu:checked ~ .menu li {
        height: 40px;
        transition: height .5s ease-in-out;
    }
    #click-menu ~ .menu li img,
    #click-menu:checked ~ .menu li img {
        display: none;
    }
    #click-mene:checked ~ .menu li div,
    #click-menu:checked ~ .menu li svg {
        display: none;
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: black;
        z-index: 2;
    }
    .menu a:hover {
        color: #7abfbf;
        transform: rotate(-20deg);
        transition: .5s ease-in-out;
        z-index: 2;
    }
}
@media (min-width: 414px) {
    body {
        width: 414px;
        grid-template-columns: 1fr;
    }
    nav ul, #social {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    h1 {
        display: block;
        position: fixed;
        top: 0;
        z-index: 1;
        padding-left: 70px;
        color: #ffffff;
    }
    a {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #sides h3 {
        margin: 15px 0;
        padding-top: 5px;
    }
    #sides img {
        width: 100px;
        float: left;
        padding-right: 15px;
    }
    #sides menu {
        padding-left: 10px;
    }
    #sides {
        height: 580px;
    }
    #sides li {
        height: 130px;
    }
    #sides h4 {
        text-align: left;
        position: relative;
        top: 25px;
        left: 115px;
        margin: 0;
    }
    #sides p {
        margin-top: 2px;
        margin-bottom: 2px;
        position: relative;
        top: 25px;
    }
    #sides svg {
        position: relative;
        top: 30px;
    }
    footer div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
    footer img {
        width: 50%;
        margin: auto;
        position: relative;
        left: -145px;
    }
    ol {
        padding-left: 25px;
    }
}
@media (min-width:768px) {
    body {
        width: 768px;
        display: grid;
    }
    h1 {
        display: none;
    }
    header h2 {
        text-align: left;
        padding-left: 20px;
        background-color: rgba(122,191,191, .5);
        padding: 15px 20px;
        margin-top: 10px;
    }
    .menu {
        box-shadow: 0.5px 3px 3px 0.5px #adadad;
    }
    dt {
        text-align: end;
        position: relative;
        right: 10px;
    }
    .recipe-directions {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    form {
        width: 250px;
        position: absolute;
        top: 0;
        margin-left: 490px;
        margin-top: 105px;
    }
    #ingredients {
        grid-column-start: 1;
    }
    #directions {
        grid-column-start: 2;
        line-height: 2;
    }
    #sides menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    }
    #sides {
        height: 350px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer div {
        grid-row-start: 1;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    footer ul {
        grid-column-start: 2;
    }
}
@media (min-width:1280px) {
    body {
        width: 1280px;
    }
    .user-sign {
        position: relative;
        bottom: 10px;
    }
    .menu {
        width: 1280px;
        justify-content: space-around;
    }
    #grid-head {
        display: grid;
        grid-template-columns: 1fr 4fr 4fr;
    }
    #grid-head ul {
        display: flex;
        flex-direction: column;
        border: #eb5428 2px solid;
        margin-top: 0;
        height: 500px;
    }
    #grid-head ul:last-child {
        padding-bottom: 350px;
    }
    #grid-head p {
        grid-row-start: 1;
        grid-column-start: 3;
        line-height: 1.5;
    }
    #grid-head p:nth-of-type(2) {
        padding-top: 120px;
    }
    header h2 {
        padding-top: 80px;
        padding-bottom: 20px;
        margin-bottom: 0;
        text-align: center;
        background-color: #f2f2f2;
    }
    form {
        margin-top: 120px;
    }
    #details {
        background-color: black;
        color: #7abfbf;
    }
    #details h3 {
        margin-top: -17px;
        padding-top: 10px;
    }
    dl {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    dd, dt {
        text-align: center;
        width: 100%;
    }
    dd {
        position: relative;
        right: 10px;
    }
    #sides {
        height: 460px;
    }
    #sides menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 3fr 1fr;
    }
    #sides p, #sides svg {
        grid-row-start: 2;
        left: 28px;
    }
    #sides menu img {
        height: auto;
        width: auto;
        margin: 0 10px 30px 35px;
    }
    #sides h4 {
        top: 280px;
        left: 35px;
    }
    footer img {
        width: 150px;
    }
    footer div {
        flex-direction: row-reverse;
    }
    footer small:first-of-type {
        right: 370px;
        bottom: -10px;
    }
    small {
        position: relative;
        right: 280px;
        bottom: -15px;
    }
}
@media print {
    body {
        margin: 0.5in;
    }
    body, h1, h2, h3, h4, h5, h6, p, img, small, dl, dt, dd, ol, ul, li, form, label, footer, header, menu, nav, section {
        font-family: serif;
    }
    img {
        display: none;
    }
    nav {
        display: none;
    }
    a:after {
        content: " (" attr(href) ")";
    }
    @page {
        size: 8.5in 11in;
        margin: 0.5in;
    }
    p {
        line-height: 1.2;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }
    ul, ol {
        margin-bottom: 0.5em;
    }
}